.form {
  position: relative;
}

.filter-item {
  margin: 0 0 14px 0;
  padding: 0;
  border: none;
  font-family: "Roboto", "Arial", sans-serif;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding: 39px 20px 0 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.grid {
  margin: 54px 0;
}

.grid label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-left: 38px;
  margin-bottom: 20px;
}

.grid label:last-child {
  margin-bottom: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;
  width: 24px;
  height: 24px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 8px;
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
  box-sizing: border-box;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

.filter-features label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-left: 38px;
  margin-bottom: 20px;
}

.filter-features label:last-child {
  margin-bottom: 0;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;
  width: 23px;
  height: 23px;
  background: url(../../images/checkbox-off.svg) no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;
  width: 25px;
  height: 23px;
  background: url(../../images/checkbox-on.svg) no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.arrows {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.arrow-down,
.arrow-up {
  position: relative;
  top: -2px;
  width: 11px;
  height: 10px;
  background: url("../../images/arrow.svg") no-repeat 0 0;
  border: none;
  background-color: transparent;
  opacity: 0.2;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-color:hover,
.arrow-color:focus {
  opacity: 0.5;
}

.arrow-color:active {
  opacity: 1;
}

.filter__container {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  justify-content: space-between;
}

.modal-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin-bottom: 34px;
}

li:last-child {
  margin-bottom: 0;
}

input {
  display: block;
  width: 328px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 16px;
  margin-top: 9px;
}

textarea {
  flex-grow: 1;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 16px;
  width: 761px;
  box-sizing: border-box;
  margin-bottom: 47px;
  margin-top: 9px;
  resize: none;
}

label {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
}

input:hover {
  border-color: #b4b9bb;
}

input:focus {
  border-color: black;
}

input:focus::placeholder {
  color: #444444;
}

textarea:hover {
  border-color: #b4b9bb;
}

textarea:focus {
  border-color: black;
}

textarea:focus::placeholder {
  color: #444444;
}

.fieldset-clear {
  padding: 0;
  margin: 0;
  border: none;
}
