.contacts__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 700;
  color: var(--dark-color);
  margin: 49px 0 22.71px 50px;
  text-transform: uppercase;
}
