.filter__sorting-item {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.285;
  font-weight: 400;
  color: var(--dark-color);
  opacity: 0.3;
  margin: 0;
  text-transform: uppercase;
}

.filter__sorting-item:active {
  opacity: 1;
}
