.button__filter {
  width: 260px;
  color: var(--basic-black);
  background-color: #eeeeee;
  margin-top: 34px;
}

.button__filter:hover {
  background-color: #dfdfdf;
}

.button__filter:active {
  background-color: rgba(0, 1, 1, 0.1);
  box-shadow: 0 3px 0 0;
  color: rgba(0, 0, 0, 0.3);
}
