.button_color_green {
  background-color: var(--basic-green);
}

.button_color_green:hover {
  background-color: var(--hover-green);
}

.button_color_green:active {
  background-color: var(--active-green);
  box-shadow: 0 3px 0 0;
  color: rgba(255, 255, 255, 0.3);
}
