:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --gray-color: #e1e1e1;
  --header-background: #eeeeee;
  --body-color: #1a4164;
  --advantages-color: #283136;
  --contact-adress: #666666;
  --footer-subtitle: #444444;

  --basic-black: #000000;

  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;

  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;

  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
}
