.slider__subtitle {
  margin: 0 0 38px;
  max-width: 400px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--dark-color);
  grid-column: 1/2;
  grid-row: 2/3;
}

@media screen and (max-width: 1024px) {
  .slider__subtitle {
    padding: 195px 0 0;
  }
}
