.button_color_red {
  background-color: var(--basic-red);
}

.button_color_red:hover {
  background-color: var(--hover-red);
}

.button_color_red:active {
  background-color: var(--active-red);
  box-shadow: 0 3px 0 0;
  color: rgba(255, 255, 255, 0.3);
}
