.header__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: var(--dark-color);
  max-width: 70%;
  margin: 72px auto 0;
  text-align: center;
}
